@font-face {
  font-family: 'ralewaybold';
  src: url("../fonts/raleway-bold-webfont.eot");
  src: url("../fonts/raleway-bold-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/raleway-bold-webfont.woff2") format("woff2"), url("../fonts/raleway-bold-webfont.woff") format("woff"), url("../fonts/raleway-bold-webfont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'ralewayextralight';
  src: url("../fonts/raleway-extralight-webfont.eot");
  src: url("../fonts/raleway-extralight-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/raleway-extralight-webfont.woff2") format("woff2"), url("../fonts/raleway-extralight-webfont.woff") format("woff"), url("../fonts/raleway-extralight-webfont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'ralewayregular';
  src: url("../fonts/raleway-regular-webfont.eot");
  src: url("../fonts/raleway-regular-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/raleway-regular-webfont.woff2") format("woff2"), url("../fonts/raleway-regular-webfont.woff") format("woff"), url("../fonts/raleway-regular-webfont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }
.button, button {
  border: none;
  color: white;
  padding: 10px;
  text-transform: uppercase;
  border-radius: 10px;
  font-weight: bold;
  background-color: #27c7ab; }

.checkbox-section {
  display: table;
  color: gray;
  font-size: 1.2em;
  position: relative; }
  .checkbox-section .checkbox {
    visibility: hidden; }
  .checkbox-section .checkbox + label {
    float: left;
    margin: 0 10px 0 0;
    height: 45px;
    width: 45px;
    border: 1px solid lightgray;
    background-color: white; }
  .checkbox-section .checkbox:checked + label {
    background: url("../images/form_ok.jpg") center no-repeat;
    background-size: 90%; }
  .checkbox-section p {
    text-align: left; }

header {
  background-color: black;
  font-weight: bold;
  color: white;
  text-transform: uppercase; }
  header h1 {
    float: left;
    margin: 0;
    font-size: 1.5em;
    padding: 15px; }
  header .navigation {
    float: right;
    margin: 0; }
    header .navigation li {
      position: relative;
      float: left;
      font-size: 1.2em;
      padding: 16px;
      list-style-type: none;
      width: calc(100%/3);
      text-align: center; }
      header .navigation li .sub-menu {
        display: none;
        position: absolute;
        top: 75px;
        left: calc(50% - 75px);
        background-color: black;
        z-index: 5; }
        header .navigation li .sub-menu li {
          font-size: 1em;
          float: none;
          width: 100%; }
        header .navigation li .sub-menu:before {
          content: "";
          position: absolute;
          top: -15px;
          left: calc(50% - 15px);
          width: 0;
          height: 0;
          display: inline-block;
          border-bottom: 15px solid black;
          border-left: 15px solid transparent;
          border-right: 15px solid transparent; }

#jumbotron {
  background: linear-gradient(white, white, white, lightgray); }
  #jumbotron .container {
    position: relative;
    overflow: hidden; }
    #jumbotron .container .arrows {
      position: absolute;
      display: inline-block;
      font-size: 5em;
      color: #27c7ab;
      line-height: 1;
      top: calc(50% - 45px);
      cursor: pointer;
      z-index: 5; }
    #jumbotron .container .arrow-left {
      left: 20px; }
    #jumbotron .container .arrow-right {
      right: 20px; }
    #jumbotron .container .slider {
      padding: 36px;
      height: 500px; }
      #jumbotron .container .slider .slide {
        position: absolute;
        display: table; }
        #jumbotron .container .slider .slide .element-image {
          text-align: center; }
        #jumbotron .container .slider .slide .element-text {
          text-align: center;
          padding: 25px; }
          #jumbotron .container .slider .slide .element-text button {
            width: 275px;
            font-size: 1.8em; }

#gallery .images, #gallery .gallery-text {
  margin-bottom: 20px; }
#gallery .images {
  position: relative; }
  #gallery .images .image-title {
    position: absolute;
    bottom: 20px;
    left: 15px;
    width: 100%;
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.3); }
    #gallery .images .image-title h4 {
      width: 175px;
      border-bottom: 2px solid #27c7ab; }
  #gallery .images:hover .image-title {
    display: none; }
#gallery .gallery-text {
  border: 1px solid lightgray;
  padding: 15px; }
  #gallery .gallery-text h4 {
    text-transform: none;
    width: 150px;
    border-bottom: 2px solid #27c7ab; }

#pricing {
  background-color: #ececec; }
  #pricing .payment-plan {
    background-color: white;
    border: 1px solid lightgray;
    padding: 20px 0 80px;
    margin-bottom: 20px;
    margin-top: 40px;
    text-align: center;
    position: relative;
    height: 500px; }
    #pricing .payment-plan .payment-name {
      font-size: 1.3em;
      font-weight: bold;
      text-transform: uppercase;
      color: #27c7ab; }
    #pricing .payment-plan .price {
      font-weight: bold;
      width: 150px;
      height: 150px;
      border-radius: 50%;
      border: 1px solid lightgray;
      padding: 30px 10px;
      margin: 10px auto;
      text-transform: uppercase; }
      #pricing .payment-plan .price .price-value {
        font-size: 2.5em; }
        #pricing .payment-plan .price .price-value sup {
          font-size: .5em;
          vertical-align: super; }
    #pricing .payment-plan .plan-features li {
      font-size: 1.5em;
      padding: 10px 0;
      color: gray;
      background-color: lightgray; }
      #pricing .payment-plan .plan-features li:nth-child(even) {
        background-color: #ececec; }
    #pricing .payment-plan button {
      position: absolute;
      bottom: 20px;
      width: 150px;
      left: calc(50% - 75px); }
    #pricing .payment-plan:after {
      content: "";
      position: absolute;
      width: 50px;
      height: 50px;
      border: 1px solid lightgray;
      background-color: white;
      border-radius: 50%;
      top: -35px;
      left: calc(50% - 25px);
      z-index: 2; }
    #pricing .payment-plan:before {
      content: "";
      position: absolute;
      width: 25px;
      height: 25px;
      background-color: lightgray;
      border-radius: 50%;
      top: -22.5px;
      left: calc(50% - 12.5px);
      z-index: 3; }
  #pricing .payment-plan:hover {
    background-color: #27c7ab;
    border-color: #27c7ab; }
    #pricing .payment-plan:hover:after {
      background-color: #27c7ab;
      border-color: #27c7ab; }
    #pricing .payment-plan:hover:before {
      background-color: white; }
    #pricing .payment-plan:hover .payment-name {
      color: white; }
    #pricing .payment-plan:hover .price {
      background-color: white;
      border-color: #27c7ab;
      color: #27c7ab; }
    #pricing .payment-plan:hover .plan-features li:nth-child(odd) {
      background-color: white; }
    #pricing .payment-plan:hover button {
      color: #27c7ab;
      background-color: white; }

#contact .input-text input, #contact .input-text textarea {
  width: 100%;
  font-size: 2em;
  border: 1px solid #27c7ab;
  padding: 10px;
  margin-bottom: 20px; }
#contact .input-submit {
  text-align: center; }
  #contact .input-submit * {
    margin-bottom: 10px; }
  #contact .input-submit img, #contact .input-submit .button {
    width: 80%; }
  #contact .input-submit .button {
    font-weight: bold;
    font-size: 1.8em; }

footer {
  color: gray;
  padding: 25px 0; }
  footer * {
    height: 100%; }
  footer p {
    float: left; }
  footer .socials {
    float: right; }
    footer .socials img {
      width: 30px;
      margin: 0 5px; }
  footer h5 {
    margin: 0 0 0 40px;
    font-size: 1.5em;
    float: right; }
    footer h5 span {
      color: inherit;
      font-weight: bold; }

#calculator form .option-selection select {
  width: 100%;
  margin-bottom: 15px;
  padding: 10px 5px;
  color: gray;
  font-size: 25px;
  border-color: #27c7ab;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: url("../images/dropdown.png") calc(100% - 10px) center no-repeat; }
#calculator form .option-selection .checkbox-section p {
  float: left;
  font-size: 30px; }
#calculator form .summary h2 {
  width: 100%;
  text-align: right; }
#calculator form .summary .summary-panel {
  margin-bottom: 15px; }
  #calculator form .summary .summary-panel .panel-left {
    width: 65%;
    float: left;
    border-right: 1px solid gray; }
  #calculator form .summary .summary-panel .panel-right {
    text-align: right;
    width: 35%;
    float: right; }
  #calculator form .summary .summary-panel .sum {
    padding: 10px 5px;
    clear: both;
    border-top: 1px solid gray; }
    #calculator form .summary .summary-panel .sum .sum-label {
      float: left;
      font-size: 20px;
      text-transform: uppercase; }
    #calculator form .summary .summary-panel .sum .sum-value {
      float: right; }
#calculator form .summary .button {
  margin-top: 30px;
  display: block;
  clear: both;
  font-size: 25px;
  width: 250px; }
#calculator form .middle-image img {
  margin: 25px 0; }

.chair {
  color: #27c7ab;
  font-size: 18px;
  font-weight: bold; }

.value, .option {
  padding: 15px 5px;
  height: 50px; }

body {
  font-size: 14px;
  font-family: "ralewayregular", sans-serif; }
  body section {
    padding: 20px 0; }

h1, h2, h3, h4, h5 {
  padding-bottom: 5px;
  text-transform: uppercase; }

img {
  width: 100%; }

h3 {
  font-size: 2.5em; }

h2 {
  font-size: 1.3em;
  width: 300px;
  border-bottom: 5px solid #27c7ab; }

span {
  color: #27c7ab;
  font-weight: bold; }

a {
  text-decoration: none;
  color: white; }
  a:hover {
    text-decoration: none;
    color: white; }

/*# sourceMappingURL=main.css.map */
