@import "modules/fonts";
@import "modules/variables";
@import "partials/header";
@import "partials/slider";

body{
    font-size: 14px;
    font-family: $font-regular;
}
a {
    text-decoration: none;
    color: white;
    &:hover{
        text-decoration: none;
        color: white;
    }
}