@font-face {
  font-family: 'ralewaybold';
  src: url("../fonts/raleway-bold-webfont.eot");
  src: url("../fonts/raleway-bold-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/raleway-bold-webfont.woff2") format("woff2"), url("../fonts/raleway-bold-webfont.woff") format("woff"), url("../fonts/raleway-bold-webfont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'ralewayextralight';
  src: url("../fonts/raleway-extralight-webfont.eot");
  src: url("../fonts/raleway-extralight-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/raleway-extralight-webfont.woff2") format("woff2"), url("../fonts/raleway-extralight-webfont.woff") format("woff"), url("../fonts/raleway-extralight-webfont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'ralewayregular';
  src: url("../fonts/raleway-regular-webfont.eot");
  src: url("../fonts/raleway-regular-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/raleway-regular-webfont.woff2") format("woff2"), url("../fonts/raleway-regular-webfont.woff") format("woff"), url("../fonts/raleway-regular-webfont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }
button {
  border: none;
  color: white;
  padding: 10px;
  text-transform: uppercase;
  border-radius: 10px;
  font-weight: bold;
  background-color: #27c7ab; }

header {
  background-color: black;
  font-weight: bold;
  color: white;
  text-transform: uppercase; }
  header h1 {
    float: left;
    margin: 0;
    font-size: 1.5em;
    padding: 15px; }
  header .navigation {
    float: right;
    margin: 0; }
    header .navigation li {
      float: left;
      font-size: 1.2em;
      padding: 16px;
      list-style-type: none;
      width: calc(100%/3);
      text-align: center; }
      header .navigation li ul {
        display: none; }

#jumbotron {
  background: linear-gradient(white, white, white, lightgray); }
  #jumbotron .container {
    position: relative; }
    #jumbotron .container .arrows {
      position: absolute;
      display: inline-block;
      font-size: 5em;
      color: #27c7ab;
      line-height: 1;
      top: calc(50% - 45px);
      cursor: pointer; }
    #jumbotron .container .arrow-left {
      left: 20px; }
    #jumbotron .container .arrow-right {
      right: 20px; }
    #jumbotron .container .slider {
      padding: 36px;
      display: table; }
      #jumbotron .container .slider .slider-element .element-image {
        text-align: center; }
      #jumbotron .container .slider .slider-element .element-text {
        text-align: center;
        padding: 25px; }
        #jumbotron .container .slider .slider-element .element-text button {
          width: 275px;
          font-size: 1.8em; }

#gallery .images, #gallery .gallery-text {
  margin-bottom: 20px; }
#gallery .images {
  position: relative; }
  #gallery .images .image-title {
    position: absolute;
    bottom: 20px;
    left: 15px;
    width: 100%;
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.3); }
    #gallery .images .image-title h4 {
      width: 175px;
      border-bottom: 2px solid #27c7ab; }
#gallery .gallery-text {
  border: 1px solid lightgray;
  padding: 15px; }
  #gallery .gallery-text h4 {
    text-transform: none;
    width: 150px;
    border-bottom: 2px solid #27c7ab; }

#pricing .payment-plan {
  border: 1px solid lightgray;
  padding: 20px 0 80px;
  margin-bottom: 20px;
  text-align: center;
  position: relative;
  height: 450px; }
  #pricing .payment-plan .payment-name {
    font-size: 1.2em;
    text-transform: uppercase;
    color: #27c7ab; }
  #pricing .payment-plan .price {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 1px solid lightgray;
    padding: 30px 10px;
    margin: 10px auto;
    text-transform: uppercase; }
    #pricing .payment-plan .price .price-value {
      font-size: 2.5em; }
      #pricing .payment-plan .price .price-value sup {
        font-size: .5em;
        vertical-align: super; }
  #pricing .payment-plan .plan-features li {
    padding: 10px 0;
    color: gray;
    background-color: lightgray; }
    #pricing .payment-plan .plan-features li:nth-child(even) {
      background-color: #ececec; }
  #pricing .payment-plan button {
    position: absolute;
    bottom: 20px;
    width: 150px;
    left: calc(50% - 75px); }

body {
  font-size: 14px;
  font-family: "ralewayregular", sans-serif; }
  body section {
    padding: 20px 0; }

h1, h2, h3, h4, h5 {
  padding-bottom: 5px;
  text-transform: uppercase; }

img {
  width: 100%; }

h3 {
  font-size: 2.5em; }

h2 {
  font-size: 1.3em;
  width: 300px;
  border-bottom: 5px solid #27c7ab; }

span {
  color: #27c7ab;
  font-weight: bold; }

a {
  text-decoration: none;
  color: white; }
  a:hover {
    text-decoration: none;
    color: white; }

/*# sourceMappingURL=main.css.map */
