.checkbox-section{
    display: table;
    color: gray;
    font-size: 1.2em;
    position: relative;
    .checkbox{
        visibility: hidden;
    }
    .checkbox + label {
        float: left;
        margin: 0 10px 0 0;
        height: 45px;
        width: 45px;
        border: 1px solid lightgray;
        background-color: white;
    }
    .checkbox:checked + label{
        background: url("../images/form_ok.jpg") center no-repeat;
        background-size: 90%;    
    }
    p{
        text-align: left;
    }
}