#contact{
    .input-text{
        input, textarea{
            width: 100%;
            font-size: 2em;
            border: 1px solid $theme-color;
            padding: 10px;
            margin-bottom: 20px;
        }
    }
    .input-submit{
        * {
            margin-bottom: 10px;
        }
        text-align: center;
        img, .button{
            width: 80%;
        }
        .button{
            font-weight: bold;
            font-size: 1.8em;
        }
    }
}