footer{
    padding: 25px 0;
    p{
        float: left;
    }
    .socials{
        float: right;
        margin-right: 40px;
        img{
            width: 30px;
            margin: 0 5px;
        }
    }
    h5{
        float: right;
    }
}