header{
    background-color: black;
    font-weight: bold;
    color: white;
    text-transform: uppercase;
    h1{
        float: left;
        margin: 0;
        font-size: 1.5em;
        padding: 15px;
        span {
            color: $theme-color;
        }
    }
    .navigation {
        float: right;
        margin: 0;
        li{
            float: left;
            font-size: 1.2em;
            padding: 16px;
            list-style-type: none;
            width: 120px;
            text-align: center;
            ul{
                display: none;
            }
        }
    }
}