#pricing{
    .payment-plan{
        border: 1px solid lightgray;
        padding: 20px 0 80px;
        margin-bottom: 20px;
        text-align: center;
        position: relative;
        height: 450px;
        .payment-name{
            font-size: 1.2em;
            text-transform: uppercase;
            color: $theme-color;
        }
        .price{
            width: 150px;
            height: 150px;
            border-radius: 50%;
            border: 1px solid lightgray;
            padding: 30px 10px;
            margin: 10px auto;
            text-transform: uppercase;
            .price-value{
                font-size: 2.5em;
                sup{
                    font-size: .5em;
                    vertical-align: super;
                }
            }
        }
        .plan-features{
            li{
                padding: 10px 0;
                color: gray;
                background-color: lightgray;
                &:nth-child(even){
                    background-color: lighten(lightgray, 10);
                }
            }
        }
        button{
            position: absolute;
            bottom: 20px;
            width: 150px;
            left: calc(50% - 75px);
        }
    }
}