#jumbotron{
    background: linear-gradient(white, white, white, lightgray);
    .container{
        position: relative;
        overflow: hidden;
        .arrows {
            position: absolute;
            display: inline-block;
            font-size: 5em;
            color: $theme-color;
            line-height: 1;
            top: calc(50% - 45px);
            cursor: pointer;
            z-index: 5;
        }
        .arrow-left{
            left: 20px;
        }
        .arrow-right{
            right: 20px;
        }
        .slider{
            padding: 36px;
            height: 500px;
            .slide{
                position: absolute;
                display: table;
                .element-image{
                    text-align: center;
                }
                .element-text{
                    text-align: center;
                    padding: 25px;
                    button{
                        width: 275px;
                        font-size: 1.8em;
                    }
                }
            }
        }
    }
}